
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="col-12">
        <div class="row">
            <h2 class="text-center">EMPLEADOS API</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <span>Buscar por ID:&nbsp;</span> <input type="text" id="txtId" /> <button class="btm btn-default" id="btnBuscaId" value="">Enviar</button>
                <hr />
                <span>Nombre: </span><input type="text" id="txtNombre" /><br />
                <span>Apellido: </span><input type="text" id="txtApellido" /><br />
                <span>Puesto : </span><input type="number" id="puesto" /><br />
                <span>Fecha Nacimiento: </span><input type="date" id="txtFechNac" /><br />
                <span>Fecha Contrato: </span><input type="date" id="txtFechCont" /><br />
                <span>Dirección: </span><input type="text" id="txtDir" /><br />
                <span>Telefono: </span><input type="text" id="txtTel" /><br />
                <span>Correo: </span><input type="text" id="txtEmial" /><br />
                <span>Activo:</span><input type="checkbox" id="chkEstado" /><br />
                <button id="btnInsertar" class="btm btn-default">Enviar</button>
                <hr />
                <span>Eliminar:&nbsp;</span> <input type="text" id="txtEliminaId" /> <button class="btm btn-default" id="btnEliminar" value="">Eliminar</button>
            </div>
            <div class="col-8">
                <div>
                    <ul id="lsEmpl" />
                </div>

                <script>
                    var uriController = '/Empleados';

                    $(document).ready(function () {
                        $("#lsEmpl").empty();

                        $.getJSON(uriController)
                            .done(function (data) {
                                $.each(data, function (key, item) {
                                    $('<li>', { text: formatItem(item) }).appendTo($('#lsEmpl'));
                                });
                            });

                        $('#btnBuscaId').click(function () {
                            let eId = $("#txtId").val();
                            $.getJSON(uriController, { id: eId})
                                .done(function (data) {
                                    $.each(data, function (key, item) {
                                        $('<li>', { text: formatItem(item) }).appendTo($('#lsEmpl'));
                                    });
                                })
                                .fail(function (jqXHR, textStatus, err) {
                                    $('<li>', { text: ('Error: ' + err) }).appendTo($('#lsEmpl'));
                                });
                        });

                        $("#btnInsertar").click(function () {
                            $("#lsEmpl").empty();
                                let Foto = null;
                                let nombre = $("#txtNombre").val();
                                let apellido = $("#txtApellido").val();
                                let Puesto = $("#puesto").val();
                                let FechNac = $("#txtFechNac").val();
                                let FechCont = $("#txtFechCont").val();
                                let direccion = $("#txtDir").val();
                                let telefono = $("#txtTel").val();
                                let correoE = $("#txtEmial").val();
                                let estado = $("#chkEstado").is(':checked') ? 1 : 0;

                                let d = {
                                    Fotografia: Foto, Nombre: nombre, Apellido: apellido, PuestoId: Puesto, FechaNacimiento: FechNac,
                                    FechaContratacion: FechCont, Direccion: direccion, Telefono: telefono, CorreoElectronico: correoE, EstadoId: estado
                                };

                                $.post(uriController, d, function (result, status, xhr) {
                                    let texto = "Empleado Insertado";
                                    if (status == "success") {
                                        if (isNaN(result))
                                            texto = result;
                                        else
                                            alert(texto);
                                    }
                                    else {
                                        texto = "Error: " + xhr.status;
                                    }
                                    $('<li>', { text: (texto) }).appendTo($('#lsEmpl'));
                                }), "json";
                            });

                            $("#btnElimina").click(function () {
                                let eId = $("#txtEliminaId").val();
                                $.ajax({
                                    url: "Empleados/Delete",
                                    success: function (result) {
                                        $('<li>', { text: ('Empleado Eliminado') }).appendTo($('#lsEmpl'));
                                    },
                                    error: function(err) {
                                        $('<li>', { text: ('Error: ' + err.status + " - " + err.statusText) }).appendTo($('#lsEmpl'));
                                    }
                                    });
                            });
                    });

                    function formatItem(item) {
                        return item.id + ' -> ' + item.nombre + ' ' + item.apellido + ' - Teléfono: ' + item.telefono + ' - Correo: ' + item.correoElectronico;
                    }


                </script>
            </div>
        </div>
    </div>
</body>
</html>
